{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
<div class="row my-5">
    <div class="col-12 jumbotron">
        <h3 class="text-center">{{categories|length}} catégorie(s) disponible(s)</h3>
    </div>
    {% for category in categories %}
    <div class="col-4 mb-3">    
        <a href="{{ path('store_products_category', {'categoryId': category.id}) }}" class="card text-center">
            <img class="card-img-top" src="{{asset(category.visuel)}}" alt="Image catégorie {{category.libelle}}">
            <div class="card-body">
                <h2 class="card-title">{{category.libelle}}</h2>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}